<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NYT Critic Movie Picks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [href]="apiBaseUrl + 'swagger-ui.html'"><img width="32" height="32" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAYFBMVEUAAABUfwBUfwBUfwBUfwBUfwBUfwBUfwBUfwBUfwBUfwBUfwBUfwBUfwBUfwB0lzB/n0BfhxBpjyC0x4////+qv4CJp1D09++ft3C/z5/K16/U379UfwDf58/q79+Ur2D2RCk9AAAAHXRSTlMAEEAwn9//z3Agv4/vYID/////////////////UMeji1kAAAD8SURBVHgBlZMFAoQwDATRxbXB7f+vPKnlXAZn6k2cf3A9z/PfOC8IIYni5FmmABM8FMhwT17c9hnhiZL1CwvEL1tmPD0qSKq6gaStW/kMXanVmAVRDUlH1OvuuTINo6k90Sxf8qsOtF6g4ff1osP3OnMcV7d4pzdIUtu1oA4V0DZoKmxmlEYvtDUjjS3tmKmqB+pYy8pD1VPf7jPE0I40HHcaBwnue6fGzgyS5tXIU96PV7rkDWHNLV0DK4FkoKmFpN5oUnvi8KoeA2/JXsmXQuokx0siR1G8tLkN6eB9sLwJp/yymcyaP/TrP+RPmbMMixcJVgTR1aUZ93oGXsgXQAaG6EwAAAAASUVORK5CYII=" title="View API docs"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.github.com/jonminter/nyt-movie-picks"><img src="assets/github-mark-32px.png" title="View code on github"></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="card-columns">
    <div class="movie-review card" *ngFor="let movie of movies; index as i">
      <img class="card-img-top" [src]="movie.review.image_url" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{movie.review.display_title}}</h5>
        <div class="card-title">
          by {{movie.review.byline}}
          <p class="dates">
              Published {{movie.review.publication_date | amDateFormat:'LL'}}
            </p>
        </div>
        
        <p class="card-text">{{movie.review.headline}}</p>
        <ul class="ratings">
          <li *ngIf="movie.rating.imdbRating != 'N/A'"><i class="fab fa-imdb imdb-icon rating-icon"></i> {{movie.rating.imdbRating}}/10</li>
          <li *ngIf="movie.rating.Metascore != 'N/A'"><img class="metascore-icon rating-icon" src="assets/metacritic.svg"> {{movie.rating.Metascore}}</li>
        </ul>

        <p class="opens alert alert-secondary" role="alert" *ngIf="movie.review.opening_date">
            Opening day {{movie.review.opening_date | amDateFormat:'LL'}}
        </p>
      </div>
      <div class="card-footer text-right">
        <a [href]="movie.review.article_url" target="_blank" class="btn btn-primary">Read Review</a>
      </div>
    </div>
  </div>
</div>

